body{
	background-image: url("../images/tileable-classic-nebula-space-patterns-1.jpg");
}

.jumbotron{
	background-color: #728992;
}

.panel{
	background-color: #346059;
	padding-bottom: 15px;
}

#charPool{
	background-color: #B38EE9;
}

#playerArea{
	background-color: #8cff8e;
}

#enemyArea{
	background-color: #ffc08c;
}

#playLog1{
	color: white;
}

#playLog2{
	color: white;
}

.emptyDiv{
	height: 5em;
	margin-bottom: 0;
}